
:root{
  --main-color:#744f98;
  --secondary-color:#15c8cc;
  --main-transition:0.3s;
  --para-color1:#666;
  --border-color1:#e9e6e6;
  --section-background: #ececec;
  --section-padding:100px; 
}


.navbar{
  background-color: black;
}

span.error{
  
  color:red;
}

.user-img{
  
  width:150px;
  margin:10px;
}

.btn-submit{
  background-color: var(--secondary-color);
  border-radius:3px;
  width:120px;
  height:50px;
  color:white;
}

.btn-submit2{
  background-color: var(--secondary-color);
  border-radius:3px;
  width:150px;
  height:50px;
  color:white;
}


/* ***  */

.lesson {
    box-shadow: 0 5px 15px rgba(200 200 200/ 15);
    border-radius: 5px;
    border: 1px solid #fff;

}

.post:hover {
    /* transform: scale(1.1); */
    opacity: 0.9;
}

.button_width {
    min-width: 120px;
    max-width: 120px;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 8px;
}

.user-img {
    height: 150px;
    width: 150px;
    margin-right: 8px;
}

.link {
    text-decoration: none;
}

.nobull {
    list-style-type: none;
}

.arabic-sc {
    font-family: 'Rakkas', cursive;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}


/* ***  */



