<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

 <!-- Main Style -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
	

</head>


{% extends "layout.html" %}


{% block content %}

<div class="container my-5">

<form action="" method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		
	  <legend class="border-bottom my-3">Update Lesson</legend>
		
		
		<div class="mb-3">
			{{ form.title.label(class='form-control-label') }}
			{% if form.title.errors %}
			{{ form.title(class='form-control is-invalid') }}
			<div class="invalid-feedback">

				{% for error in form.title.errors %}
				<span class="error">{{error}}</span>
				{% endfor %}

			</div>
			{% else %}
			{{ form.title(class='form-control') }}

			{% endif %}
		</div>


		<div class="mb-3">
			{{ form.details.label(class='form-control-label') }}
			{% if form.details.errors %}
			{{ form.details(class='form-control is-invalid' )}}
			<div class="invalid-feedback">

				{% for error in form.details.errors %}
				<span class="error">{{error}}</span>
				{% endfor %}

			</div>
			{% else %}
			{{ form.details(class='form-control') }}

			{% endif %}
		</div>


		<div class="mb-3">
			{{ form.video_url.label(class='form-control-label') }}
			{% if form.video_url.errors %}
			{{ form.video_url(class='form-control is-invalid' )}}
			<div class="invalid-feedback">

				{% for error in form.video_url.errors %}
				<span class="error">{{error}}</span>
				{% endfor %}

			</div>

			{% else %}
			{{ form.video_url(class='form-control') }}

			{% endif %}
		</div>


		<div class="form-group">
			<div class="col-12">
				<button class="btn-submit" type="submit">Update</button>
			</div>
		</div>

</form>

</div>

	{{ ckeditor.load() }}
	{{ ckeditor.config(name="content") }}







{% endblock content %}


