{% extends "dashboard.html" %}


{%block new_lesson%}

<div class="{{'tab-pane show active fade p-3' if active_tab=='new_lesson' else 'tab-pane fade p-3'}}" id="nav-newLesson"
	role="tabpanel" aria-labelledby="nav-newLesson-tab">
	<form action="/dashboard/new_lesson" method="POST">
		{{ new_lesson_form.hidden_tag()}}
		<legend class="border-bottom my-3">New Lesson</legend>

		<div class="mb-3">
			{{ new_lesson_form.course.label(class="form-control-label") }}

			{% if new_lesson_form.course.errors %}
				{{ new_lesson_form.course(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in new_lesson_form.course.errors %}
						<span class="error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
			{{ new_lesson_form.course(class="form-select", id="courseSelect") }}
			{%endif%}
		</div>


		<div class="mb-3">
			{{ new_lesson_form.unit.label(class="form-control-label") }}

			{% if new_lesson_form.unit.errors %}
				{{ new_lesson_form.unit(class="form-control is-invalid") }}
				<div class="invalid-feedback">
					{% for error in new_lesson_form.unit.errors %}
						<span class="error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
			{{ new_lesson_form.unit(class="form-select", id="unitSelect") }}
			{%endif%}
		</div>

		<script src="{{ url_for('static', filename='new_lesson.js') }}"></script>


		<div class="mb-3">
			{{ new_lesson_form.title.label(class='form-control-label') }}

			{% if new_lesson_form.title.errors %}
			{{ new_lesson_form.title(class='form-control is-invalid') }}
			<div class="invalid-feedback">
				{% for error in new_lesson_form.title.errors %}
				<span class="error">{{error}}</span>
				{% endfor %}
			</div>

			{% else %}
			{{ new_lesson_form.title(class='form-control') }}

			{% endif %}

		</div>


		<div class="mb-3">
			{{ new_lesson_form.details.label(class='form-control-label') }}
			{% if new_lesson_form.details.errors %}
			{{ new_lesson_form.details(class='form-control is-invalid' )}}
			<div class="invalid-feedback">
				{% for error in new_lesson_form.details.errors %}
				<span class="error">{{error}}</span>
				{% endfor %}
			</div>

			{% else %}
			{{ new_lesson_form.details(class='form-control') }}

			{% endif %}

		</div>

		<div class="mb-3">

			{{ new_lesson_form.video_url.label(class='form-control-label') }}
			{% if new_lesson_form.video_url.errors %}
			{{ new_lesson_form.video_url(class='form-control is-invalid') }}
			<div class="invalid-feedback">
				{% for error in new_lesson_form.video_url.errors %}
				<span class="error">{{error}}</span>
				{% endfor %}
			</div>

			{% else %}
			{{ new_lesson_form.video_url(class='form-control') }}

			{% endif %}

		</div>


		<div class="form-group">
			<div class="col-12">
				<button class="btn-submit" type="submit">Post</button>
			</div>
		</div>
	</form>


	{{ ckeditor.load() }}
	{{ ckeditor.config(name="content") }}

</div>


{%endblock new_lesson%}